# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key="
HOST="localhost"
PORT=3000
SEED_DB=true # Set to true to seed the database with initial data on application startup, or false to skip seeding.
CLEAR_DB=false # Set to true to clear the database before seeding, or false to keep existing data. Only applicable if SEED_DB is true.
NAME_ROLE_ADMIN="" # Name of the admin role to be created during seeding. Change as needed.
NAME_ROLE_USER="" # Name of the user role to be created during seeding.
BCRYPT_SALT_ROUNDS= # Number of salt rounds for bcrypt hashing. Adjust as needed for security/performance balance.
DEFAULT_PASSWORD="" # Default password for seeded users. Change to a secure password in production. 